# Housing Price Prediction

In [1]:
#Import required Modules
import numpy as np
import pandas as pd
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')

print('Modules imported successfully!')

Modules imported successfully!

In [2]:
#Import Dataset
df = pd.read_csv(r'datasets/Bangalore.csv')

print('Dataset Loaded Successfully!')

Dataset Loaded Successfully!

In [3]:
#Check the size of the dataset
df.shape

(6207, 40)

In [4]:
#Check the names of the columns
df.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [5]:
#Check the first 5 rows
df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,30000000,3340,JP Nagar Phase 1,4,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,8358000,1675,Doddanekundi,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6845000,1670,Kengeri,3,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [6]:
#Checking th data types of the features
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                6207 non-null   int64
 1   Area                 6207 non-null   int64
 2   Location             6207 non-null   object
 3   No. of Bedrooms      6207 non-null   int64
 4   Resale               6207 non-null   int64
 5   MaintenanceStaff     6207 non-null   int64
 6   Gymnasium            6207 non-null   int64
 7   SwimmingPool         6207 non-null   int64
 8   LandscapedGardens    6207 non-null   int64
 9   JoggingTrack         6207 non-null   int64
 10  RainWaterHarvesting  6207 non-null   int64
 11  IndoorGames          6207 non-null   int64
 12  ShoppingMall         6207 non-null   int64
 13  Intercom             6207 non-null   int64
 14  SportsFacility       6207 non-null   int64
 15  ATM                  6207 non-null   int64
 16  ClubHouse            6207 non-null   int64
 17  School               6207 non-null   int64
 18  24X7Security         6207 non-null   int64
 19  PowerBackup          6207 non-null   int64
 20  CarParking           6207 non-null   int64
 21  StaffQuarter         6207 non-null   int64
 22  Cafeteria            6207 non-null   int64
 23  MultipurposeRoom     6207 non-null   int64
 24  Hospital             6207 non-null   int64
 25  WashingMachine       6207 non-null   int64
 26  Gasconnection        6207 non-null   int64
 27  AC                   6207 non-null   int64
 28  Wifi                 6207 non-null   int64
 29  Children'splayarea   6207 non-null   int64
 30  LiftAvailable        6207 non-null   int64
 31  BED                  6207 non-null   int64
 32  VaastuCompliant      6207 non-null   int64
 33  Microwave            6207 non-null   int64
 34  GolfCourse           6207 non-null   int64
 35  TV                   6207 non-null   int64
 36  DiningTable          6207 non-null   int64
 37  Sofa                 6207 non-null   int64
 38  Wardrobe             6207 non-null   int64
 39  Refrigerator         6207 non-null   int64
dtypes: int64(39), object(1)
memory usage: 1.9+ MB

In [7]:
#Checking unique values in each column
df.apply(lambda x: len(x.unique()))

Price                  2146
Area                   1359
Location                302
No. of Bedrooms           7
Resale                    2
MaintenanceStaff          3
Gymnasium                 3
SwimmingPool              3
LandscapedGardens         3
JoggingTrack              3
RainWaterHarvesting       3
IndoorGames               3
ShoppingMall              3
Intercom                  3
SportsFacility            3
ATM                       3
ClubHouse                 3
School                    3
24X7Security              3
PowerBackup               3
CarParking                3
StaffQuarter              3
Cafeteria                 3
MultipurposeRoom          3
Hospital                  3
WashingMachine            3
Gasconnection             3
AC                        3
Wifi                      2
Children'splayarea        3
LiftAvailable             3
BED                       3
VaastuCompliant           3
Microwave                 3
GolfCourse                3
TV                        3
DiningTable               3
Sofa                      3
Wardrobe                  2
Refrigerator              3
dtype: int64

In [8]:
#Checking the null values 
df.isnull().sum()

Price                  0
Area                   0
Location               0
No. of Bedrooms        0
Resale                 0
MaintenanceStaff       0
Gymnasium              0
SwimmingPool           0
LandscapedGardens      0
JoggingTrack           0
RainWaterHarvesting    0
IndoorGames            0
ShoppingMall           0
Intercom               0
SportsFacility         0
ATM                    0
ClubHouse              0
School                 0
24X7Security           0
PowerBackup            0
CarParking             0
StaffQuarter           0
Cafeteria              0
MultipurposeRoom       0
Hospital               0
WashingMachine         0
Gasconnection          0
AC                     0
Wifi                   0
Children'splayarea     0
LiftAvailable          0
BED                    0
VaastuCompliant        0
Microwave              0
GolfCourse             0
TV                     0
DiningTable            0
Sofa                   0
Wardrobe               0
Refrigerator           0
dtype: int64

In [9]:
#Checking for duplicate rows
df.duplicated().sum()

686

In [10]:
#Removing the duplicate rows
df.drop_duplicates(inplace=True)

In [11]:
#Checking the dataset before moving to EDA
df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,30000000,3340,JP Nagar Phase 1,4,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,8358000,1675,Doddanekundi,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6845000,1670,Kengeri,3,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

## Exploratory Data Anlaysis

## Preprocessing

In [12]:
#Splitting the data
X = df.drop(columns='Price')
y = df['Price']

In [13]:
#Splitting the data into train and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [14]:
#Required modules for the pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [15]:
#Taking numerical and categorical features in seperate variables
numeric_features = ['Area']

categorical_features = ['Location']

In [16]:
#Pipeline for transformation
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('ordinal', OrdinalEncoder())
])

In [17]:
#Pipeline for column transformation
preprocessor = ColumnTransformer(transformers=[
    ('numeric', numeric_transformer, numeric_features),
    ('categorical', categorical_transformer, categorical_features)
])

In [18]:
#Function to train and get the score of the models
def oneForAll(preprocessor, models, name):
    n=0
    for model in models:
        pipeline = Pipeline(steps=[
        ('preprocessor', preprocessor),
        (name[n], model)
        ])
        pipeline.fit(X,y)
        y_pred_train = pipeline.predict(X_train)
        y_pred_test = pipeline.predict(X_test)
        scores_train.append(r2_score(y_train, y_pred_train))
        scores_test.append(r2_score(y_test, y_pred_test))
        n=n+1

In [19]:
#Required modules for models
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
import xgboost as xgb
import lightgbm as gbm

In [20]:
#initialising the models
linear = LinearRegression()
ridge = Ridge()
lasso = Lasso()
elastic = ElasticNet()
dt = DecisionTreeRegressor()
rf = RandomForestRegressor()
knn = KNeighborsRegressor()
xg = xgb.XGBRegressor()
lgb = gbm.LGBMRegressor()

In [21]:
#final preparation for fitting
from sklearn.metrics import r2_score
models = [linear, ridge, lasso, elastic, dt, rf, knn, xg, lgb]
name = ['Linear Regression', 'Ridge', 'Lasso', 'Elastic', 'Decision Tree', 'Random Forest', 'K-Neighbors', 'XGBoost', 'Light GBM']
scores_train=[]
scores_test=[]

In [22]:
#Calling the function
oneForAll(preprocessor, models, name)

## Evaluation

In [23]:
#Models and scores  on train and test
models = pd.DataFrame({
    'Model': name,
    'Train Score': scores_train,
    'Test Score': scores_test})

models.sort_values(by='Test Score')

               Model  Train Score  Test Score
3            Elastic     0.141227    0.123527
1              Ridge     0.156150    0.144078
2              Lasso     0.156148    0.144082
0  Linear Regression     0.156148    0.144082
8          Light GBM     0.378445    0.374299
6        K-Neighbors     0.411094    0.517701
7            XGBoost     0.592279    0.673399
5      Random Forest     0.607404    0.704771
4      Decision Tree     0.654223    0.748864